<p id="notice"><%= notice %></p>
<h1>Pix</h1>
<p>
  <strong>Id:</strong>
  <%= @pix.id %>
</p>
<p>
  <strong>Name:</strong>
  <%= @pix.name %>
</p>
<p>
  <strong>Documento:</strong>
  <%= @pix.document_number %>
</p>
<p>
  <strong>Status:</strong>
  <%= @pix.status %>
</p>
<%= link_to 'Voltar', pixs_path %>
